*
  margin 0
  padding 0

body
  background color-background
  color color-font
  font-family font-default
  margin 0
  font-size 14px
  @media screen and (max-width: 900px)
  	font-size 12px

h1, h2, h3, h4, h5, h6
  font-family font-title

h1
  font-size 1.8em

h2
  font-size 1.5em

h3
  font-size 1.3em

table
  border-collapse collapse
  border none
    
td, th, tb, tr
  border 1px solid #ddd
  padding 0 20px

hr
  margin-top 10px
  border none
  height 1px
  background #DDD

.borderblock
  background color-background
  border 1px solid color-border
  border-radius 3px
  margin 5px
  padding 5px

a
  text-decoration none
  color color-link
  &:hover
    text-decoration underline

.navigationBar
  text-align center
  width 280px
  height 44px
  line-height 44px
  background rgba(255, 255, 255, 0.9)
  border-bottom 1px solid color-border
  margin-bottom 30px
  a
    font-family Cuprum
    font-size 22px
    font-weight bold
    color black
    &:hover
      color color-link
      text-decoration none

.alignleft
  float left

.alignright
  float right

.clearfix
  clearfix()

.inner
  width page-width
  @media screen and (max-width: 1260px)
    width 100%

#main-col
  width 900px
  @media screen and (max-width: 1260px)
    width 100%
    margin-left -280px

#hidden-navigationBar
  display none
  @media screen and (max-width: 900px)
    display block
    width 100%
    margin-bottom 0

#wrapper
  background color-background
  padding 25px
  @media screen and (max-width: 1260px)
    margin-left 280px
  @media screen and (max-width: 900px)
    margin 0 0 60px 0
    padding 20px 0