// Color
color-background = rgb(245, 245, 245)
color-font = rgb(30, 30, 30)
color-meta = rgb(221, 0, 0)
color-border = rgb(227, 227, 229)
color-link = rgb(221, 0, 0)

// Font
font-default = 'Trebuchet MS', Arial, "Helvetica Neue", "Helvetica",  sans-serif
font-serif = 'Trebuchet MS', Arial, "Helvetica Neue", "Helvetica",  sans-serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = Galdeano, "Lato", Helvetica Neue, Helvetica, Arial, sans-serif

//@import url(//fonts.googleapis.com/css?family=Lato:400,400italic)

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 1200px
side-width = 280px