<% if (theme.UYUserId && page.comments){ %>
<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=<%= theme.UYUserId %>" async=""></script>
</section>
<% } %>
